$grid-columns: 24;
@import '../node_modules/bootstrap-scss/bootstrap-grid.scss';
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css');
html,
body {
  padding: 0;
  margin: 0;
  font: normal normal normal 20px/12px Roboto;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 6px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* цвет дорожки */
  border-radius: 25px;
}
*::-webkit-scrollbar-thumb {
  background-color: #b8e5ff; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 3px solid #b8e5ff; /* padding вокруг плашки */
}
.nav-link{
  color: var(--unnamed-color-303030);
  text-align: left;
  font: normal normal normal 16px/19px Roboto;
  letter-spacing: 0px;
  color: #303030;
  opacity: 1;
}
.navbar{
  padding-top: 1rem;
  padding-bottom: 1rem;
}