.main{
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper{
  width: 90%;
}
.group_select{
  position: relative;
  width: 100% !important;
  max-height: 56px;
  z-index: 9999;
  transition: all linear 0.3s;
  display: flex;
  justify-content: center;
}
.group_select_wrapper{
width: 74%;
  @media(max-width: 1400px){
    width: 100%;
  }
}
.arrow_btn{
  background-image: url('../app/media/arrow_btn.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 0.8rem;
  width: 0.8rem;
}
.select_input {
  display: none;
  background: #35373A 0% 0% no-repeat padding-box;
  &:checked + label {
    background: #35373A 0% 0% no-repeat padding-box;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}
.__select {
  display: flex;
  width: 230px;
  height: 204px;
  margin: 0 auto;
  overflow: hidden;
  
  border-radius: 5px;
  border: solid 1px #c7ccd1;
}

.__select__content {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 100%;
  
  overflow-y: auto;
  overflow-x: hidden;
}

.reset {
  display: flex;
  width: 230px;
  padding: 8px 16px;
  margin: 0 auto;
  margin-bottom: 10px;
  
  border: solid 1px #c7ccd1;
  border-radius: 5px;
  
  transition: all 0.2s ease-out;
  
  cursor: pointer;
  
  font-weight: bold;
  
  background-color: #ffffff;
  color: #333333;
  
  &:hover {
    background-color: #D8093A;
    color: #ffffff;
  }
}
@keyframes zooming {
  0%{
      opacity: 0.6;
  }
  100%{
      opacity: 1;
  }
}
.__select__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 276px;
  height: 56px;
  background: #35373A 0% 0% no-repeat padding-box;
  padding: 0 16px;
  animation: zooming alternate 0.8s ease-in-out;
  transition: all 0.2s ease-out;

  cursor: pointer;
  
  & + input + & {
    border-top: 1px solid #C7CCD160;
  }
color: #FFFFFFDE;
  &:hover {
    background-color: #1d1d1d !important;

    color: #ffffff;
  }
}
.spinner{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner_wrapper{
  height: 80px;
  width: 80px;
  background-image: url('../app/media/spinner-solid.svg');
  background-size: contain;
  background-repeat: no-repeat;
  animation: spinner infinite linear 1s;
}
@keyframes spinner {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}